body {
    text-align: center;
    background-position: center;
    background-color: white;
}

h1 {
    font-family: 'East Sea Dokdo', cursive;
    text-align: flex;
    color: black;
    font-size: 50px;
    padding: 0;
    margin: 0;
}

#wallpaper {
    width: 400px;
}
button {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 36px;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    margin: 0px 90px 0px 90px;
    width: 15%;
    max-width: 200px;
    min-width: 200px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

#playagainbtn {
    font-family: 'East Sea Dokdo', cursive;
    display: none;
    cursor: pointer;
    border-radius: 5px;
    justify-content: flex-end;
    position: relative;
    font-size: 27px;
    text-align: center;
    border: 2px solid black;
    padding: 1px;
    margin: 10px 90px 10px 90px;
    width: 15%;
    max-width: 140px;
    min-width: 140px;
    color: #0CB904 ;
}
#gameStart {
    display: none;
}

.button:hover {
    background-color: black;
    color: white;
}

#nextbutton {
    font-family: 'East Sea Dokdo', cursive;
    display: none;
    cursor: pointer;
    border-radius: 5px;
    justify-content: flex-end;
    position: relative;
    font-size: 24px;
    text-align: center;
    border: 2px solid black;
    padding: 1px;
    margin: 0px 90px 10px 90px;
    width: 15%;
    max-width: 70px;
    min-width: 70px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    border-radius: 10px;
    position: relative;
    text-align: center;
    background-color: white;
    margin: auto;
    padding: 10px;
    border: 1px solid gray;
    width: 60%;
  }
  
  .close {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    float: right;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
  }
  
  .close:hover, .close:focus {
    color: #273342;
    text-decoration: none;
    cursor: default;
  }
  
  .modal-header {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 20px;
    text-align: center;
    border-radius: 0px;
    padding: 1px 0px 0px 0px;
    background-color: white;
    color: #273342;
    text-decoration: underline;
  }
 
  .modal-body {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 27px;
    border:2px solid white;
    padding-left: 20px;
    padding-right: 20px;
    height: 220px;
    text-align:center;
    font-weight:600;
  }

  #TIP {
    color: salmon;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 0px 0px 11px 0px;
    justify-content: center;
  }
  
  .box {
    border: 4px solid gray;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
  }

  .box:hover {
    border: 4px solid black;
  }

#order-display {
    display: block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    background-color: white;
    margin: 0px auto 10px;
    padding: 0px;
    border: 1px solid gray;
    width: 60%;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 24px
}